ACME_EMAIL=admin@example.com
CF_API_TOKEN=
# Optional: delegate _acme-challenge.www.gengyue.dev to this full DNS name.
# ACME_DNS_CHALLENGE_OVERRIDE_DOMAIN=_acme-challenge.cdnno.de
ANUBIS_DIFFICULTY=4
